*.o
*.hi
*.x
*.info
*.y
TestMyLatte
DocMyLatte.txt
LexMyLatte.hs
ParMyLatte.hs
PrintMyLatte.hs
AbsMyLatte.hs
ErrM.hs
SkelMyLatte.hs
TestMyLatte.hs
*.bak
MyLatte/
notes.txt
Interpreter
good/output/
bad/output/
Main
